---
import Layout from "../layouts/Layout.astro";
import CardList from "../components/CardList.astro";
---

<Layout title='Welcome to Blockenberg Astro sample client.'>
	<main>
		<section>
			<div class='container max-w-6xl sm:p-6 mx-auto space-y-6 sm:space-y-12'>
				<div
					class='block gap-3 mx-auto max-w-full lg:grid lg:grid-cols-12 dark:dark:bg-zinc-900'
				>
					<img
						src='https://images.unsplash.com/photo-1509564128632-51ca52fc43f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80'
						alt=''
						class='object-cover w-full h-64 grayscale hover:grayscale-0 transition duration-700 sm:h-96 lg:col-span-7 dark:dark:bg-gray-500'
					/>
					<div class='p-6 lg:col-span-5 text-left'>
						<h3
							class='text-2xl my-4 font-semibold sm:text-4xl group-hover:underline group-focus:underline'
						>
							Building Blockenberg
						</h3>
						<span class='text-xs dark:dark:text-gray-400'>
							Since February 2023
						</span>
						<p class='mt-2'>
							Blog about building decentralized CMS <a class="font-bold underline" href="https://blockenberg.fission.app/">Blockenberg</a>. Written in Blockenberg.
						</p>
					</div>
				</div>
				<CardList />
			</div>
		</section>
	</main>
</Layout>
