---
import { lookup } from "../lib/webnative";
import Card from "./Card.astro";

export interface Props {
	token: string;
}

const { token } = Astro.props;
const documents = await lookup(token);
//console.log(documents);
---

<div
	class='grid justify-center grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3'
>
	{documents.map((doc, i) => <Card doc={doc} i={i} />)}
</div>
